[2020-10-01 12:00] duncancasemore opened #1 "Connection setup"
## Summary

1. **As a** Integration Designer
1. **I want** to connect to my Applaud instance
1. **so that** I can use this in recipes

## Acceptance Criteria

1. I can see Applaud in the list of applications
1. My customers can see Applaud in the list of applications
1. I see it's called Applaud and uses a black background with white text
1. I can setup a new connection by setting the Tenant URL a

[2020-10-01 12:06] duncancasemore opened #2 "Applaud triggers"
## Summary

1. **As a** Integration Designer
1. **I want** to use Applaud triggers
1. **so that** I can create Integrate actions performed in Applaud with other apps

## Wireframes and mockups

### Applaud triggers

![Applaud triggers](https://user-images.githubusercontent.com/7467052/94815328-52241f00-03f2-11eb-8aa6-083f007215b6.png)

[2020-10-01 12:40] duncancasemore opened #3 "New instances batch trigger"
## Summary

1. **As a** Integrations Designer
1. **I want** to create recipes that periodically trigger from newly created Applaud instances
1. **so that** I can integrate actions performed in Applaud with other applications

## Acceptance Criteria

1. I can select a 'New instances' batch trigger for the Applaud app
1. I see that this trigger is labeled Batch
1. I can select the Model.  This is a

[2020-10-01 12:50] duncancasemore opened #4 "New/updated instances batch trigger"
## Summary

1. **As a** Integrations Designer
1. **I want** to create recipes that periodically trigger from new or updated Applaud instances
1. **so that** I can integrate actions performed in Applaud with other applications

## Acceptance Criteria

1. I can select a 'New/updated instances' batch trigger for the Applaud app
1. I see that this trigger is labeled Batch
1. I can set the model, first

[2020-10-01 13:12] duncancasemore opened #5 "New instance real-time trigger"
## Summary

1. **As a** Integrations Designer
1. **I want** to create recipes that trigger in real-time from created Applaud instances
1. **so that** I can integrate actions performed in Applaud with other applications

## Acceptance Criteria

1. I can select a 'New instance' real-time trigger for the Applaud app
1. I see that this trigger is labeled Real-time (see open issue)
1. I can set the mod

[2020-10-01 13:18] duncancasemore opened #6 "New/updated instance real-time trigger"
## Summary

1. **As a** Integrations Designer
1. **I want** to create recipes that trigger in real-time from new or updated Applaud instances
1. **so that** I can integrate actions performed in Applaud with other applications

## Acceptance Criteria

1. I can select a 'New/updated instance' real-time trigger for the Applaud app
1. I see that this trigger is labeled Real-time
1. I can set the model

[2020-10-01 13:21] duncancasemore opened #7 "Delete instance real-time trigger"
## Summary

1. **As a** Integrations Designer
1. **I want** to create recipes that trigger in real-time from deleted Applaud instances
1. **so that** I can integrate actions performed in Applaud with other applications

## Acceptance Criteria

1. I can select a 'Deleted instance' real-time trigger for the Applaud app
1. I see that this trigger is labeled Real-time
1. I can set the model, which has

[2020-10-01 13:30] duncancasemore opened #8 "Update instance real-time trigger"
## Summary

1. **As a** Integrations Designer
1. **I want** to create recipes that trigger in real-time from updated Applaud instances
1. **so that** I can integrate actions performed in Applaud with other applications

## Acceptance Criteria

1. I can select an 'Updated instance' real-time trigger for the Applaud app
1. I see that this trigger is labeled Real-time
1. I can set the model, which ha

[2020-10-01 15:47] duncancasemore opened #9 "Option to trigger a recipe from an existing Applaud workflow"
## Summary

1. **As a** Integration Designer
1. **I want** to trigger recipes from within an existing Applaud workflow
1. **so that** I can control when the trigger fires, such as at the end of an approval workflow

## Acceptance Criteria

1. I can select the triggering workflow action, which gives me a list of all workflows+integration actions linked to the selected model
1. I see the triggering

[2020-10-01 16:15] duncancasemore opened #11 "Create instance action"
## Summary

1. **As a** Integration Designer
1. **I want** to build recipes that create data in Applaud
1. **so that** I can integrate actions from other apps back into Applaud

## Acceptance Criteria

1. I can select the Create instance action
1. I can select the model.  This shows exactly the same set of models as the trigger actions (eg, #5)
1. When I select the model, I see this shows in lower

[2020-10-01 16:27] duncancasemore opened #12 "Update instance action"
## Summary

1. **As a** Integration Designer
1. **I want** to build recipes that update data in Applaud
1. **so that** I can integrate actions from other apps back into Applaud

## Acceptance Criteria

1. I can select the Update instance action
1. I can select the model.  This has the same behavior as #11
1. When I select the model, I see this shows in lower case singular in the action title above

[2020-10-01 16:33] duncancasemore opened #13 "Upsert instance action"
## Summary

1. **As a** Integration Designer
1. **I want** to build recipes that either create or update data in Applaud
1. **so that** I can integrate actions from other apps back into Applaud

## Acceptance Criteria

1. I can select the Upsert instance action
1. I can select the model.  This has the same behavior as #11
1. When I select the model, I see this shows in lower case singular in the a

[2020-10-01 16:37] duncancasemore opened #14 "Delete instance action"
## Summary

1. **As a** Integration Designer
1. **I want** to build recipes that delete data in Applaud
1. **so that** I can integrate actions from other apps back into Applaud

## Acceptance Criteria

1. I can select the Delete instance action
1. I can select the model.  This has the same behavior as #11
1. When I select the model, I see this shows in lower case singular in the action title above

[2020-10-01 16:50] duncancasemore opened #15 "Search instances action"
## Summary

1. **As a** Integration Designer
1. **I want** to build recipes that search data in Applaud
1. **so that** I can use the results and perform follow-up actions in Applaud or other applications

## Acceptance Criteria

1. I can select the Search instances action
1. I can select the model.  This has the same behavior as #11
1. When I select the model, I see this shows in lower case PLURAL

[2020-10-02 08:20] duncancasemore opened #16 "Create instances in batches action"
## Summary

1. **As a** Integration Designer
1. **I want** to build recipes that create data on mass in Applaud
1. **so that** I can integrate larger volumes of actions from other apps back into Applaud

## Acceptance Criteria

1. I can select the Create instances in batches action
1. I can select the model.  This shows exactly the same set of models as defined in other actions
1. When I select th

[2020-10-02 08:30] duncancasemore opened #17 "Update instances in batches action"
## Summary

1. **As a** Integration Designer
1. **I want** to build recipes that update data on mass in Applaud
1. **so that** I can integrate larger volumes of actions from other apps back into Applaud

## Acceptance Criteria

1. I can select the Update instances in batches action
1. I can select the model.  This shows exactly the same set of models as defined in #16
1. When I select the model, I

[2020-10-02 09:10] duncancasemore opened #18 "Upsert instances in batches action"
## Summary

1. **As a** Integration Designer
1. **I want** to build recipes that create or update data on mass in Applaud
1. **so that** I can integrate larger volumes of actions from other apps back into Applaud

## Acceptance Criteria

1. I can select the Upsert instances in batches action
1. I can select the model.  This shows exactly the same set of models as defined in #16
1. When I select th

[2020-10-02 11:18] duncancasemore opened #19 "Autocomplete values in actions for lookup model properties"
## Summary

1. **As a** Integration Designer
1. **I want** to see autocomplete values when entering a field based on a "Lookup" model property
1. **so that** it's easier for me to pick fixed values at design time when I don't need to use datapills

## Acceptance Criteria

1. I can see a list of autocomplete values when entering a field based on a "Lookup" model property
1. I see the list of values

[2020-10-02 14:09] duncancasemore opened #23 "Option to set 'owner' model property in actions"
## Summary

1. **As a** Integration Designer
1. **I want** to set the owner model property in various actions
1. **so that** I don't have to build additional workflows in Applaud just to set this value

## Acceptance Criteria

1. I see the 'Owner' field in all actions
1. It's always optional, so collapsed by default
1. I see the field below id but above other optional properties
1. I see it in bat

[2020-10-02 14:29] duncancasemore opened #24 "Ability to use 'User' model in update, and search actions"
## Summary

1. **As a** Integration Designer
1. **I want** to define recipe actions that update and search Applaud users
1. **so that** I can automate user provisioning and changes

## Acceptance Criteria

1. <s>I can select the User model in the Create instance action</s>
1. I can select the User model in the Update instance action
1. I can select the User model in the Upsert instance action
1. I

[2020-10-02 14:38] duncancasemore opened #25 "Upload file action"
## Summary

1. **As a** Integration Designer
1. **I want** to build recipes that upload files to Applaud
1. **so that** I can integrate files from other apps back into Applaud

## Acceptance Criteria

1. I can select the Upload file action
1. I can enter the source URL of the file I wish to upload, that this field is required and that it's of URL type
1. When I use this action I see that this file

[2020-10-02 14:42] duncancasemore opened #26 "Download file action"
## Summary

1. **As a** Integration Designer
1. **I want** to build recipes that download files from Applaud
1. **so that** I can use the files in other apps

## Acceptance Criteria

1. I can select the Download file action
1. I can enter the File Id of the file I wish to download.  I see this is required and of text type
1. When I use this action I see that this file downloads from Applaud
1. I s

[2020-10-06 07:08] ssarap commented on #1
@duncancasemore To form the proper URL by stripping out http,https, is this expected to be written using ruby methods as currently Workato doesn't handle this.

[2020-10-06 08:05] duncancasemore commented on #1
@ssarap yes that's what I was thinking.  If we can't do it easily it's not a problem - I imagine the connection test will simply fail...

[2020-10-07 08:56] ssarap commented on #1
yes

[2020-10-07 09:21] vinaykumarkasireddy commented on #1
Established the connection to dev-workato tenant and the connection is successful. I can see the Applaud app in select apps.
![image](https://user-images.githubusercontent.com/20200783/95312398-81cc9e80-08ac-11eb-9306-8794fec341af.png)

[2020-10-16 08:46] vinaykumarkasireddy commented on #1
## Acceptance Criteria

1. [x] I can see Applaud in the list of applications
1. [x] My customers can see Applaud in the list of applications
1. [x] I see it's called Applaud and uses a black background with white text
1. [x] I can setup a new connection by setting the Tenant URL and API key
1. [x] I can save my connection and see that the test validates that the connection works
1. [x] If I add in

[2020-10-19 09:14] vinaykumarkasireddy commented on #3
@duncancasemore Properties like 'created', 'updated' are not fetched from elastic. These properties are by-passed by cloud team. Getting these properties using 'getFrom':'mongo' filter.
Can we get this properties directly from elastic?

[2020-10-19 16:10] duncancasemore commented on #3
@vinaykumarkasireddy thanks.  We shouldn't be using mongo, we do need to get from elastic.  This story should have added the option to use `created` and `updated` in the API filters:

https://github.com/ApplaudSolutions/applaud-cloud/issues/2900

Does this give you what you need?

[2020-10-19 17:35] vinaykumarkasireddy commented on #3
Yes @duncancasemore. That's perfect.

[2020-11-03 09:06] vinaykumarkasireddy commented on #3
'GetFrom: mongo' filter is not working fine. Raised a cloud git https://github.com/ApplaudSolutions/applaud-cloud/issues/2980 for the same. Verified different options mentioned in the cloud git, but its not working.

[2020-11-03 09:10] vinaykumarkasireddy commented on #3
Created a recipe and verified. Batch Trigger is polling correctly according to the batch size and also it is polling in correct intervals.

[2020-11-03 09:18] duncancasemore commented on #3
@vinay-applaud we shouldn't be using 'getFrom: mongo' anyway. Can you confirm we're not planning on using this?

[2020-11-03 10:51] vinaykumarkasireddy commented on #3
Yes @duncancasemore Using this just for testing. We are not planning to use this.

[2020-11-10 11:15] GangamRitesh commented on #11
### Status update

- [x] I can select the Create instance action
![image](https://user-images.githubusercontent.com/40355220/98661757-e1670f80-236c-11eb-8244-6aed2c0bf588.png)
- [x] I can select the model. This shows exactly the same set of models as the trigger actions
![image](https://user-images.githubusercontent.com/40355220/98664935-0198cd80-2371-11eb-9de3-724f0a3eb1fb.png)
- [x] When I selec

[2020-11-24 13:12] GangamRitesh commented on #12
### Progress Update
- Created **update instance action** as per Wireframe
- need to to test this action.
Records are not fetched fetched from elastic. So unable to test.
A git is already raised in cloud repo to track this
https://github.com/ApplaudSolutions/applaud-cloud/issues/3059

[2020-11-25 09:33] vinaykumarkasireddy commented on #3
1. [x] I can select a 'New instances' batch trigger for the Applaud app
1. [] I see that this trigger is labeled Batch
1. [x] I can select the Model.  This is a required autocomplete field that shows all available models for that tenant, sorted in ascending alphabetical order.
1. [x] When I select a Model, I see that the lower case PLURAL model name is used in the trigger action title at the top a

[2020-11-25 09:35] vinaykumarkasireddy commented on #4
1. [x] I can select a 'New/updated instances' batch trigger for the Applaud app
1. [] I see that this trigger is labeled Batch
1. [x] I can set the model, first started date, trigger interval, poll, and trigger conditions.  These have identical behavior to #2.
1. [x] In subsequent actions in the recipe, I can see the list of items and all their model properties as datapills.  I see that each Appla

[2020-11-25 11:48] GangamRitesh commented on #12
- [x] I can select the Update instance action
![image](https://user-images.githubusercontent.com/40355220/100221945-64789000-2f3f-11eb-8670-d485ea02166f.png)

- [x] I can select the model.
![image](https://user-images.githubusercontent.com/40355220/100222112-a0abf080-2f3f-11eb-90f2-6b2b9cc6e87d.png)

- [x] When I select the model, I then see all the model property fields similar to #11 except all

[2020-11-26 08:06] GangamRitesh commented on #14
- [x] I can select the Delete instance action
![image](https://user-images.githubusercontent.com/40355220/100321843-5717e000-2fe9-11eb-94aa-561f3c3bcc75.png)

- [x] I can select the model.
![image](https://user-images.githubusercontent.com/40355220/100321911-70209100-2fe9-11eb-9de8-bf549cd77053.png)

- [x] When I select the model, I see this shows in lower case singular in the action title above a

[2020-11-30 06:10] GangamRitesh commented on #13
HI @duncancasemore ,
Created upsert action as per wireframe.
In upsert if the record is to be updated, action is working as expected. If the action is create, action is throwing an error.
As per wireframe id field is set as required field. But for creating an instance id value is passed as null. So, recipe is throwing an error. So Id cannot be set as required. There is an option to set this field

[2020-12-03 06:02] vinaykumarkasireddy commented on #5
Raised a new cloud git https://github.com/ApplaudSolutions/applaud-cloud/issues/3094.
Need to identify the payload sent to webhook is of create/update/delete, so that we can configure the recipe accordingly.

[2020-12-03 06:02] vinaykumarkasireddy commented on #8
Raised a new cloud git https://github.com/ApplaudSolutions/applaud-cloud/issues/3094.
Need to identify the payload sent to webhook is of create/update/delete, so that we can configure the recipe accordingly.

[2020-12-03 06:02] vinaykumarkasireddy commented on #7
Raised a new cloud git https://github.com/ApplaudSolutions/applaud-cloud/issues/3094.
Need to identify the payload sent to webhook is of create/update/delete, so that we can configure the recipe accordingly.

[2020-12-08 09:15] duncancasemore commented on #13
@GangamRitesh good catch, I've updated AC5 based on your recommendation. Does this work?

[2020-12-08 09:21] GangamRitesh commented on #13
@duncancasemore , required fields are shown first. Id field will not be the first one. Will check with workato team if Id can be displayed on top.

[2020-12-09 04:19] GangamRitesh commented on #13
@duncancasemore ,
I have checked with Workato team. It is not possible to show Id field before required fields. Required fields will be shown on top, then follows fields that are optional fields (sticky).

[2020-12-09 07:00] duncancasemore commented on #13
@GangamRitesh ok fine

[2020-12-23 11:53] GangamRitesh commented on #13
- [x] 1. I can select the Upsert instance action
![image](https://user-images.githubusercontent.com/40355220/102993187-b6163980-4542-11eb-98b5-7e5ca19af407.png)

- [x] 1. I can select the model.
![image](https://user-images.githubusercontent.com/40355220/102993212-c201fb80-4542-11eb-9319-8bd82d1f00ac.png)

- [x] 1. When I select the model, I see this shows in lower case singular in the action titl

[2021-01-04 10:16] vinaykumarkasireddy commented on #5
Dependent on the cloud git https://github.com/ApplaudSolutions/applaud-cloud/issues/3145

[2021-01-04 10:16] vinaykumarkasireddy commented on #8
Dependent on the cloud git https://github.com/ApplaudSolutions/applaud-cloud/issues/3145

[2021-01-04 10:17] vinaykumarkasireddy commented on #7
Dependent on the cloud git https://github.com/ApplaudSolutions/applaud-cloud/issues/3145

[2021-01-04 10:17] vinaykumarkasireddy commented on #6
Dependent on the cloud git https://github.com/ApplaudSolutions/applaud-cloud/issues/3145

[2021-01-04 10:33] GangamRitesh opened #27 "lastupdatedBy property in record should be updated to API when record is created/modified from Workato."
## Summary

1. **As a** developer
1. **I want** lastupdatedBy property in records to be updated to API instead of Anon when record is modified from Workato.

## Acceptance Criteria

1. I see that the last updated by data in Applaud clearly shows it's been updated by the API when record is created/modified from workato

## Wireframes and mockups

### [Title of wireframe/mockup 1]
[Image of wirefram

[2021-01-04 10:57] vinaykumarkasireddy commented on #9
Closing this as this is not required any more.

[2021-01-04 10:57] #9 closed

[2021-01-04 11:33] vinaykumarkasireddy commented on #23
Workato automatically setting the owner to the logged in user by default. So, closing this.

[2021-01-04 11:33] #23 closed

[2021-01-07 10:17] GangamRitesh opened #28 "New/Update instances in batch triggers are not fetching data in workato recipes."
**Describe the bug**
New/Update instance triggers are not fetching data in workato recipes

**Steps to reproduce**
1. Navigate to workato recipes with New/Update instances in batch triggers
1. Test the recipe
1. See that no records are picked even there are new/updated records.

**Expected behavior**
New/updated records should be fetched by the trigger in recipes.

**Additional context**
Triggers

[2021-01-07 10:25] ssarap commented on #28
This is being reviewed by Chandra from Workato.
Please note that I have given him access to the Connector.

[2021-01-07 10:45] GangamRitesh commented on #28
@ssarap , Updated Chandra on this

[2021-01-15 14:23] GangamRitesh commented on #15
- [x] I can select the Search instances action
![image](https://user-images.githubusercontent.com/40355220/104722676-2f750680-5754-11eb-8f14-0c6282afb924.png)

- [x] When I select the model, I see this shows in lower case PLURAL in the action title above and in the recipe viewer

![image](https://user-images.githubusercontent.com/40355220/104722695-3c91f580-5754-11eb-9a87-9646be84f8d8.png)

 - [x]

[2021-01-18 07:58] vinaykumarkasireddy commented on #16
1. [x] I can select the Create instances in batches action
1. [x] I can select the model.  This shows exactly the same set of models as defined in other actions
1. [x] When I select the model, I see this shows in lower case PLURAL in the action title above and in the recipe viewer
  ![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c1178/f68281e0-8932-46be-8f92-173ef2843c0c)
1.

[2021-01-18 13:57] vinaykumarkasireddy commented on #25
@lewie6 Could you share the apis used to upload and download a file in applaud cloud. Please provide if there is any documentation on this. Thanks.

[2021-01-19 04:45] hgajula-applaud commented on #25
@vinaykumarkasireddy see this https://support.applaudsolutions.com/hc/en-us/articles/360009358278-Imports-and-Exports
You can find out the API by looking at the network trace when trying the above notes..
If this does not help, then wait for @lewie6 or @ApplaudSolutions/cloud-team help.

[2021-01-19 04:54] vinaykumarkasireddy commented on #25
Sure @hgajula-applaud Thank you.

[2021-01-20 08:18] vinaykumarkasireddy commented on #17
1. [x] I can select the Update instances in batches action
1.[x] I can select the model.  This shows exactly the same set of models as defined in #16
1. [x] When I select the model, I see this shows in lower case PLURAL in the action title above and in the recipe viewer
![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c1178/5019f7de-52e2-446e-b9a8-6ab345664515)
1. [x] I see a b

[2021-01-20 12:06] vinaykumarkasireddy commented on #18
1. [x] I can select the Upsert instances in batches action
1. [x] I can select the model.  This shows exactly the same set of models as defined in #16
1. [x] When I select the model, I see this shows in lower case PLURAL in the action title above and in the recipe viewer

![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c1178/8877174f-cd00-4b93-89b3-3e48f4d707b3)

1. [x] I see

[2021-01-20 13:18] GangamRitesh commented on #15
As a part of the Search action as per AC 25, other than **date-time range** fields and **geo point** fields, all other fields can be used for search and sort instances.
Now that lookups are configured, search action should also fetch records filtered/sorted by lookup values. But in the lookup if
   **allow multiple** is set to true, search action is not fetching results(getting error response from

[2021-01-20 16:55] duncancasemore commented on #15
@GangamRitesh can we include lookup properties on search when allow multiple is unticked but hide it when it's ticked?

[2021-01-20 16:57] GangamRitesh commented on #15
Yes @duncancasemore
It is possible

[2021-01-22 08:15] vinaykumarkasireddy commented on #25
Getting the below error while uploading a document to applaud cloud.

Exception in Vinay_Connector. 404 Not Found: {"error":401,"data":{"messages":[{"mood":"assertive","timeout":15000,"text":"Unable to import file","body":null,"stack":"Error: null\n at Object.handler (/home/mgtmp/workspace/applaud-cloud/server/config.local.js:19:17)\n at restErrorHandler (/home/mgtmp/workspace/applaud-cloud/node_m

[2021-01-25 09:49] vinaykumarkasireddy commented on #26
1. [x] I can select the Download file action
1. [x] I can enter the File Id of the file I wish to download.  I see this is required and of text type
![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c1178/ab312287-85a9-4077-9a94-1ab0f3b4bf35)
1. [x] When I use this action I see that this file downloads from Applaud
![image.png](https://images.zenhubusercontent.com/57876b29e40e57

[2021-01-28 09:11] ssarap commented on #25
@lewie6 @curioustushar Could you pls provide an update on this.

[2021-02-02 05:37] vinaykumarkasireddy commented on #5
Verified the real time trigger by posting the dynamic webhook url into some dummy model. Webhook url is getting generated dynamically, and being passed correctly to the model attribute when the recipe is started.
Pending items:
1. To get the apis from cloud team, so that configure the models workflow actions as well as post the webhook url.
2. Need to test how the payload is passed to the workato

[2021-02-10 12:00] ssarap commented on #25
To review the same with Workato.

[2021-02-12 09:31] vinaykumarkasireddy commented on #25
Need to input the content type also here, Applaud cloud api is expecting the content-type.
After passing the correct content type, file is uploaded into applaud cloud.

Input fields for the action:
![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c1178/91bc8f0f-6392-446b-a92d-465c181c1bc7)

Output Fields:
![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c117

[2021-02-23 10:49] GangamRitesh commented on #28
Closing this as data is now fetched from New/Update instances in batch triggers

[2021-02-23 10:49] #28 closed

[2021-02-23 10:55] GangamRitesh commented on #27
Last Updated by value is now stored correctly.
![image](https://user-images.githubusercontent.com/40355220/108834103-c191e980-75f3-11eb-993e-327a2449a6d0.png)

![image](https://user-images.githubusercontent.com/40355220/108834000-9909ef80-75f3-11eb-95d6-5986fbb6f641.png)

[2021-02-23 10:55] #27 closed

[2021-02-23 11:06] ssarap commented on #28
@GangamRitesh Is this achieved through changes in SDK connector, if yes are the changes present in the latest released connector?

[2021-02-23 11:18] GangamRitesh commented on #28
Yes @ssarap , Changes are already present in the latest version of SDK

[2021-02-24 06:35] GangamRitesh commented on #19
Update lookup field so that lookup value id can also be passed to lookup field.
![image](https://user-images.githubusercontent.com/40355220/108957991-5c440400-7698-11eb-9352-f0946f565fe3.png)
![image](https://user-images.githubusercontent.com/40355220/108958089-7978d280-7698-11eb-92b8-8cc858baec24.png)

[2021-02-25 08:28] vinaykumarkasireddy commented on #5
Verified the real time triggers on stage.
This is working fine.

Completion checklist:
1. [x] I can select 'New instance' real time trigger.
1. [x] I see that this trigger is labeled real time.
![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c1178/80c6b9de-676a-4288-9d66-df4b55f64fdb)
1. [x] I can select the model.
1. [x] I can select the workflow action for which the webhook

[2021-02-25 08:28] vinaykumarkasireddy commented on #6
Verified the real time triggers on stage.
This is working fine.

Completion checklist:
1. [x] I can select 'New/updated instance' real time trigger.
1. [x] I see that this trigger is labeled real time.
![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c1178/80c6b9de-676a-4288-9d66-df4b55f64fdb)
1. [x] I can select the model.
1. [x] I can select the workflow action for which the

[2021-02-25 08:30] vinaykumarkasireddy commented on #7
Verified the real time triggers on stage.
This is working fine.

Completion checklist:
1. [x] I can select 'New/updated instance' real time trigger.
1. [x] I see that this trigger is labeled real time.
![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c1178/80c6b9de-676a-4288-9d66-df4b55f64fdb)
1. [x] I can select the model.
1. [x] I can select the workflow action for which the

[2021-02-25 08:49] vinaykumarkasireddy commented on #8
Verified the real time triggers on stage.
This is working fine.

Completion checklist:
1. [x] I can select 'New/updated instance' real time trigger.
1. [x] I see that this trigger is labeled real time.
![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c1178/91f9e77b-38aa-4e87-9125-adf51244c4e2)
1. [x] I can select the model.
1. [x] I can select the workflow action for which the

[2021-03-11 07:58] ybudamala opened #29 "Applaud connector recipe - update action failed with 404 error"
**Describe the bug**
When a recipe is designed with Applaud connector, Create action is going fine. But Update action is failing with 404 error.

**Steps to reproduce**
1. Navigate to Customer POC tenant and login with an user
1. Order an equipment
1. Workato recipe is getting called but failing with 404 error when doing update:

`404 Not Found: {"data":{"messages":[{"mood":"assertive","timeout":1

[2021-03-11 08:04] ybudamala commented on #29
As discussed with @GangamRitesh earlier, looks like all inputs are not being sent to the SDK as per initial analysis. Need to check the same issue again on the customer tenant if the instance is available to debug the issue.

[2021-03-11 12:05] ybudamala commented on #29
Issue is reproducible internally:

https://app.workato.com/recipes/1457752#recipe

![image](https://user-images.githubusercontent.com/12724623/110783772-decee500-828e-11eb-828d-d530bc02f51a.png)

https://applaud-dev-com.applaudhcm.com/new-order

https://applaud-dev-com.applaudhcm.com/models-schema/5fec2054754e644a0ae54a40

This issue seems happening because record is getting created instantly in M

[2021-03-12 07:23] vinaykumarkasireddy commented on #29
This is not an issue with Applaud Workato connector. Cloud api is returning the 404 response since it is unable to find the record.

[2021-03-12 07:25] ybudamala commented on #29
@vinaykumarkasireddy yes..record is not getting indexed onto elastic upon creation instantly.
Closing this.

[2021-03-12 07:25] #29 closed

[2021-04-07 06:15] ssarap opened #30 "Bulk upsert into Applaud using a 3rd party id"
## Summary

1. **As a** integrations developer
1. **I want** to upsert data using a choice of my own unique id of the model
1. **so that** Cloud Id need not be stored in Integration layer and will make the bulk upload possible for large set of data

## Acceptance Criteria

1. Wokato actions should have a new input to accept the unique id of the model to be referred
1. SDK to accept this new parame

[2021-04-08 15:03] ssarap commented on #30
Dependent on ApplaudSolutions/applaud-cloud/issues/3663

[2021-04-21 09:22] karthmoh opened #31 "Create a user action"
## Summary

1. **As a** Integrations designer
1. **I want** to define recipe actions that would create users
1. **so that** I can automate the user provisioning

## Acceptance Criteria
1. In 'Create an instance' real-time action, I can pick the 'User' model
1. I cannot pick the User model in the delete or bulk actions.  Update/upsert - QUESTION see notes.
1. When I pick the User model, I see some

[2021-04-21 10:28] duncancasemore commented on #31
@karthmoh I've regroomed this.

[2021-04-22 11:49] GangamRitesh commented on #31
Hi @duncancasemore ,
There is no option to create a record in User with APIs
![image](https://user-images.githubusercontent.com/40355220/115708583-d093de80-a38d-11eb-8de9-db119fa168ab.png)
We need to create a new action **Invite a user to ApplaudHR** which sends a mail to invite the User.

[2021-04-22 12:26] GangamRitesh commented on #31
Tried to use APIs **/api/users/invite** to invite users, **/api/role-grants** to fetch all the roles in tenant. But API keys don't have access to call these APIs. Without access to these APIs we are blocked here.

[2021-04-22 13:22] duncancasemore commented on #31
@GangamRitesh see here for API:
https://github.com/ApplaudSolutions/applaud-cloud/issues/3779

I guess this action will need to have 2 internal API calls: 1 API call to invite and then a second to PATCH the custom user.  Not sure about roles...

[2021-04-22 14:26] GangamRitesh commented on #31
@duncancasemore , @lewie6
As a part of git https://github.com/ApplaudSolutions/applaud-cloud/issues/3779, role grants are added to the Users model so we have access to **/api/users/invite**.
Currently, we don't have access to  **/api/role-grants**. Can we include this as a part of git https://github.com/ApplaudSolutions/applaud-cloud/issues/3779 or create a new git for this.

When an invite is sen

[2021-04-23 15:01] duncancasemore opened #32 "Bulk load security events into Splunk"
## Summary

1. **As a** [user concerned by the story]
1. **I want** [goal of the story]
1. **so that** [reason for the story]

## Acceptance Criteria

1. [If I do A, B should happen]
1. [If I do C, D should happen]

## Wireframes and mockups

### [Title of wireframe/mockup 1]
[Image of wireframe/mockup 1]

### [Title of wireframe/mockup 2]
[Image of wireframe/mockup 2]

## Notes

* > Here goes a q

[2021-04-26 08:45] duncancasemore commented on #31
@GangamRitesh why don't we leave roles out of this story for now then.  I think roles can be assigned automatically using workflow in Applaud, which is probably a better solution anyway.

I figured you'd need a PATCH on custom user to update it with the custom fields (eg, personId, countryOfWork, whatever).  If you can do that in the initial invite, fine.

[2021-04-26 11:01] GangamRitesh commented on #31
Sure @duncancasemore. Roles are assigned in worflow.

- Similar to roles, custom user details (personId, countryOfWork, phoneNumber) are updated as part of workflows.
![image](https://user-images.githubusercontent.com/40355220/116071116-15c85100-a6ab-11eb-8bed-c96c3f106ebe.png)
 Can we avoid this one for now as well?

- As the API calls we are making in **create instance action** ( **_/api/custom/

[2021-04-26 15:53] duncancasemore commented on #31
@GangamRitesh happy to break it out.  Do we use 'Create an instance' action and pick a special 'User' option to invite (with special fields) or build something custom?  I think it would be neater to use the same action, then we can use 'Update an instance' action for patching a user and 'Delete an instance' to grant a user the deleted role.  We'd have to think about bulk as well...

[2021-04-27 04:38] GangamRitesh commented on #31
Sure @duncancasemore , will try to include in the create instance action.

[2021-04-29 14:36] GangamRitesh commented on #31
@duncancasemore , Build create user instance action.
Steps involved in create user action :
1. Verify the email
2. Invite user
3. Search for user in custom user with input email.
4. Update custom user record with standard(input) properties.
#### Issues found in create user instance action
1. After inviting the user, sometimes unable to find the user in the custom user model due to elastic mongo sy

[2021-04-30 11:31] #19 closed

[2021-04-30 11:37] ssarap commented on #15
@GangamRitesh Do we have tracking git for lookups filter not working when multiple values are allowed?

[2021-04-30 11:41] ssarap opened #33 "Search action with lookup allowing multiple values"
## Summary

1. **As a** integration designer
1. **I want** to search filtering lookups fields when multiple fields are allowed
1. **so that** search returns the correct filtered results.

## Acceptance Criteria

1. I can select filter with lookup properties and select multiple values

## Wireframes and mockups

### [Title of wireframe/mockup 1]
[Image of wireframe/mockup 1]

### [Title of wirefram

[2021-04-30 11:41] #15 closed

[2021-04-30 11:42] #1 closed

[2021-04-30 11:42] #14 closed

[2021-04-30 11:44] ssarap commented on #12
@GangamRitesh I think Last update by is now fixed?

[2021-04-30 11:44] #12 closed

[2021-04-30 11:47] #25 closed

[2021-04-30 11:48] #13 closed

[2021-04-30 11:49] ssarap commented on #3
@vinaykumarkasireddy AC 14 is it still pending?

[2021-04-30 11:50] #5 closed

[2021-04-30 11:51] #26 closed

[2021-04-30 11:52] #6 closed

[2021-04-30 11:55] ssarap commented on #7
@vinaykumarkasireddy I think the screenshots should point to the delete ones.

[2021-04-30 11:56] #17 closed

[2021-04-30 11:56] #16 closed

[2021-04-30 11:57] #11 closed

[2021-04-30 11:58] #18 closed

[2021-04-30 12:00] vinaykumarkasireddy commented on #3
No @ssarap It is done. We can close this story.

[2021-04-30 12:27] GangamRitesh commented on #12
Yes @ssarap its fixed now

[2021-05-07 07:28] GangamRitesh commented on #33
Made required changes as suggested(https://github.com/ApplaudSolutions/Applaud-Workato-Connector/issues/15#issuecomment-763782965)

[2021-05-07 07:28] #33 closed

[2021-05-10 10:52] GangamRitesh commented on #31
Raised issues in cloud board.
https://github.com/applaudsolutions/applaud-cloud/issues/3844
https://github.com/ApplaudSolutions/applaud-cloud/issues/3875

[2021-05-21 05:49] GangamRitesh commented on #32
Unable to access `/api/security-events` with api keys. Raised a git https://github.com/ApplaudSolutions/applaud-cloud/issues/3939 in cloud board.

[2021-05-26 13:39] vinaykumarkasireddy opened #34 "Delete instance action not working"
**Describe the bug**
Delete instance action is not working as expected.

**Steps to reproduce**
1. Configure a recipe
1. Use delete action to delete a particular record
1. See the response as success, but when queried in the model, the record still appearing.

**Expected behavior**
The deleted record should not appear in the model.

**Screenshots**
![image.png](https://images.zenhubusercontent.com

[2021-05-26 13:53] GangamRitesh commented on #34
Fixed issue with delete action.
There is an issue with the SDK connector due to which cloud API is not called.

[2021-05-26 14:59] #34 closed

[2021-06-09 11:03] #7 closed

[2021-06-09 11:03] #8 closed

[2021-06-09 11:03] #3 closed

[2021-06-09 11:03] #4 closed

[2021-06-09 11:03] #2 closed

[2021-06-24 08:13] ssarap opened #35 "Applaud actions"
@duncancasemore commented on [Thu Oct 01 2020](https://github.com/ApplaudSolutions/Applaud-Zapier-Connector/issues/3)

## Summary

1. **As a** Integration Designer
1. **I want** to use Applaud actions
1. **so that** I can create Integrate actions performed in other systems back into Applaud

## Wireframes and mockups

### Applaud actions

![Applaud actions](https://user-images.githubusercontent.co

[2021-06-24 08:13] #35 closed

[2021-06-24 08:17] ssarap opened #36 "Applaud actions"
## Summary

1. **As a** Integration Designer
1. **I want** to use Applaud actions in Zapier
1. **so that** I can create Integrate actions performed in other systems back into Applaud

## Acceptance Criteria

1. I should have **Create instance** action
1. I should have **Update instance** action
1. I should have **Delete instance** action
1. I should have **Upsert instance** action
1. I should have

[2021-09-13 09:03] Ritesh717 opened #37 "GET API doesn't return all the properties"
**Describe the bug**
Response from the GET API doesn't have all the properties which is causing issues while pushing data into the collection in recipes.

**Steps to reproduce**
1. Navigate to [system] and login as [user]
1. Go to '...'
1. Select '....'
1. Scroll down to '....'
1. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If a

[2021-09-30 11:57] Ritesh717 opened #38 "Delete instances in batches action"
## Summary

1. **As a** Integration Designer
1. **I want** to build recipes that delete data on mass in Applaud
1. **so that**  I can integrate larger volumes of actions from other apps back into Applaud

## Acceptance Criteria

1. I can select the Delete instances in batches action
1. I can select the model.  This shows exactly the same set of models as defined in #16
1. When I select the model,

[2021-10-04 08:47] Ritesh717 commented on #37
Raised a cloud git https://github.com/ApplaudSolutions/applaud-cloud/issues/4467

[2021-10-06 10:11] #37 closed

[2021-10-11 07:15] ssarap opened #39 "Spike: Impact analysis of new async bulk API on Applaud connector"
## Summary

1. **As a** integrations designer
1. **I want** to use the new Aysnc bulk API
1. **so that** we are giving time for Applaud cloud for data push to avoid server load on Cloud and wait times in Recipe

## Acceptance Criteria

1. Analyse the changes that needs to made to the Applaud connector to use this new API, may be a new action with label Async
1. Analyse how this will impact the exi

[2021-11-01 10:55] uiguru commented on #39
@ssarap - the cloud team have had to start on the work for this on the cloud side of things.   That story is being worked on now.

Having discussed with Lewis, the work on your team now will need to be on finding a way to integrate with the new this async bulk pattern.

As the story is a high priority on cloud, please keep the communication flowing between the teams so we can be made aware of any

[2021-11-01 12:51] ssarap commented on #39
@uiguru We are working on this and we still have a few things to review from integrations point of view.
So far below is our analysis :
1.  Changes to Applaud connector to include a new bulk Async action
2. Review how can process the data with 20K records without facing Recipe time out issues (Workato recipe cannot run more than 90 mins)
3.  Populate the data pills of this action so that subsequen

[2021-11-01 12:58] uiguru commented on #39
Thank you @ssarap - there is a lot of conversation on this between @lewie6 and @duncancasemore - so please keep this issue updated as regularly as possible and keep in touch.

[2021-11-01 13:04] ssarap commented on #39
Sure @uiguru

[2021-11-02 09:35] ssarap commented on #39
Analysis:
1. Connector SDK would be changed to use multi-step action
2. This action will have two parameters **Post URL** and **Time out**
3. When Post URL is specified the action would send a request to cloud bulk async API by passing the specified value and another recipe based on webhook should be written which gets executed when the Cloud API posts data after the request completion.
4. When Ti

[2021-11-02 10:12] hgajula-applaud commented on #39
@ssarap what happens on point 4 when the cloud does not respond ( or the transaction is still running on cloud)
Does the recipe fail after 90 mins?

[2021-11-02 11:01] ssarap commented on #39
@hgajula-applaud We will retry few times say 20 times and then we raise an error.

[2021-11-03 08:55] ssarap commented on #39
@duncancasemore @hgajula-applaud @uiguru We had a discussion on this with @lewie6 and Hari over a call.
Lewis suggested not to use polling instead use the call back URL to check the response.
In Workato SDK we can currently use only polling mechanism but not the callback. We  are further checking with Workato team and brainstorming internally to suffice this requirement. Will keep you posted on th

[2021-11-03 10:07] hgajula-applaud commented on #39
@ssarap understand the support we have/going to get from workato. Based on that, we have to take a decision on our API support.

[2021-12-02 11:24] ssarap commented on #39
Need to defer it to Jan 2022.

[2021-12-02 11:42] ssarap commented on #38
Review if this is working.
https://github.com/ApplaudSolutions/applaud-cloud/issues/4426

[2021-12-07 11:08] ssarap commented on #38
Note: Setting the limit to 250 at max from Workato size.

[2021-12-14 06:58] Ritesh717 commented on #38
- Added Delete instance in batches action in the SDK connector.
- Set the maximum limit for records to be deleted in a batch to 250.
- Error messages thrown from the cloud are displayed accordingly.
### Deleting 250 records from a model
![image](https://user-images.githubusercontent.com/40355220/145945954-0203ff87-8ee6-4ab3-9d0e-fb24853e7f8e.png)
### request time
![image](https://user-images.githu

[2021-12-22 05:45] Ritesh717 opened #40 "Custom action in Applaud connector"
## Summary

1. **As a** Integration Designer
1. **I want** to build recipes that make custom requests in Applaud
1. **so that**  I can make custom calls to applaud and doesn't require SDK changes. Replica of HTTP request with Applaud connection

## Acceptance Criteria

-

## Wireframes and mockups

### [Title of wireframe/mockup 1]
[Image of wireframe/mockup 1]

### [Title of wireframe/mockup 2]
[

[2021-12-22 07:19] duncancasemore commented on #40
@Ritesh717 please can you share some example requirements here? Would be good to rewrite the story around requirements rather than the solution.

[2021-12-22 07:52] Ritesh717 commented on #40
@duncancasemore,

Custom action is implemented in almost all the other SDK connectors.

Few use cases of this custom action in Applaud.

1. In a case where the developer needs to call other APIs available on the model-api's page.
![image](https://user-images.githubusercontent.com/40355220/147054564-6a984a79-338d-460b-9686-77f1b2a70bf5.png)

2. Developer requires related model data in a search inst

[2021-12-22 09:47] duncancasemore commented on #40
@Ritesh717 it's true, many other connectors do have this.  It looks to me like an easy alternative to building out the connector properly :-).  To be fair, some have thousands of end-points and have built actions for a couple of common use-cases but then use a custom action as a 'catch all' for everything else.

I'd like us to first explore enhancing the connector before we do this, as custom acti

[2021-12-22 10:03] Ritesh717 commented on #40
Sure @duncancasemore ,
Will try to include related model data into the search instance action without breaking current recipes.
There are few cases for customers where search action requires **greater than, less than** conditions for filters(for date, number). We can try to include these features in search action but will result in breaking the working recipes.

We can achieve this requirement by

[2021-12-22 10:05] duncancasemore commented on #40
@Ritesh717 rather than having this general 'custom action' story, I suggest we raise separate stories for 'Include related models in search action', 'Greater than/less than searching on dates and numbers'.

[2021-12-22 10:19] Ritesh717 commented on #40
Sure @duncancasemore ,
Will raise separate stories for these.

[2021-12-22 11:09] Ritesh717 opened #41 "Include related models in search action"
## Summary

1. **As a** Integration Designer
1. **I want** to build recipes that search data in Applaud
1. **so that** I can use the results from related models as well, to perform follow-up actions in Applaud or other applications

## Acceptance Criteria

1. I should be able to select related models in the dropdown
2. I see that the search results are available as a list datapill in later actions

[2022-01-19 06:35] #40 closed

[2022-01-21 08:54] Ritesh717 commented on #30
Duplicate of https://github.com/ApplaudSolutions/Applaud-Workato-Connector/issues/18

[2022-01-21 08:54] #30 closed

[2022-01-24 13:23] ssarap commented on #26
@vinaykumarkasireddy I think the URL property that is exposed as Output Datapill of Download action doesn't seem to Work. We need to use FileHref property to download the File from the URL. Please expose the FileHref property well.
![Uploading image.png…]()

[2022-01-24 13:32] karthmoh commented on #26
@ssarap THanks for the update. As discussed this is a blocker for the KCH project as they have to raise a case where attaching supporting documents is very important. Please prioritize the same.

Regards
Karthik.

[2022-01-24 13:40] ssarap commented on #26
@lewie6 When we are using the URL value of the File, unable to access it now, has something changed in file access as we could now see a new property "isPrivate" true in the latest cloud response.
Please let us know if we can use **fileHref** property to access the file.
@duncancasemore FYI. Once @lewie6  confirms we need to release this change in EU and global regions.

[2022-01-24 13:52] lewie6 commented on #26
@ssarap `isPrivate` was added around April/May 2021
It is for signed files https://github.com/ApplaudSolutions/applaud-cloud/issues/2531

[2022-01-24 13:57] duncancasemore commented on #26
@lewie6 what is isPrivate and why would that mean that a file can no longer be downloaded via the Workato connector?

[2022-01-24 14:19] lewie6 commented on #26
@duncancasemore It is for signed/private/secure files ApplaudSolutions/applaud-cloud#2531

[2022-01-24 14:24] duncancasemore commented on #26
@lewie6 yes I guessed that.  Is it a flag that should be set in the API?  If so, what does it mean if it's set to true/false?  How does the API download the file in either case?

[2022-01-24 15:11] lewie6 commented on #26
@duncancasemore `isPrivate: true/false` is a flag for if the file is secure or not

@ssarap please raise a cloud story: `All API Keys` role should get signed URLs when hitting an API

I think the requestor (in this case wrokarto) should specify which file property they want signed, eg; `/api/person?signFile=cv`, and maybe this should be limited to the first 10 records?

[2022-01-24 19:10] duncancasemore commented on #26
@lewie6 don't we get a fileId in the above example? I think already the connector uses the fileId to hit the File endpoint to get the url. So we can't we do something with this call? Eg, get file/{id} returns a secured url?

[2022-01-25 05:31] lewie6 commented on #26
@duncancasemore yes, if that is how we get files. @ssarap please confirm

[2022-01-25 05:56] ssarap commented on #26
Yes, we are getting fileHref with the accessible URL.
Can we use that Lewis?

--
Disclaimer: This message (including any attachments) is confidential and
intended solely for the person or organization to whom it is addressed. It
may contain privileged and confidential information. If you are not the
intended recipient, you should not copy, distribute or take any action in
reliance on it. If you ha

[2022-01-25 06:03] lewie6 commented on #26
Hey @ssarap, when you guys say "accessible URL" and "file/{id}", do you mean "/api/assets/{id}"?
It is not 100% clear what you mean
Please add that detail to the cloud story

[2022-01-25 06:10] vinaykumarkasireddy commented on #26
Yes @lewie6, Using "/api/assets/{id}" api.
'URL' property from the above api response is used to download the file. But, it is not working now.

Able to download the file using 'fileHref' property of the api response. Can we use this property instead of 'URL'?

[2022-01-25 06:21] lewie6 commented on #26
@vinaykumarkasireddy oh I see, so fileHref already works but URL property doesn't work. Sorry, I didn't understand what you meant before
Yes I can see in screenshot now, fileHref already has the signed token
So yes use fileHref, no need for cloud story

[2022-01-25 06:28] hgajula-applaud commented on #26
@vinaykumarkasireddy @ssarap with the above change, ie, using fileHref, do we still need to release the changes to US and EU regions?

[2022-01-25 06:34] vinaykumarkasireddy commented on #26
Yes @hgajula-applaud, We need to release the changes to US and EU regions.

[2022-01-25 06:47] ssarap commented on #26
@vinaykumarkasireddy Can you change the URL to point to **fileHref** property in download and upload actions.

[2022-01-27 12:33] karthmoh commented on #26
Hi @ssarap

Could you please let us know when this change will be deployed onto TA-EU.

Thanks
Karthik

[2022-01-27 12:44] vinaykumarkasireddy opened #42 "Add 'fileHref' property to download file action output datapill"
## Summary

1. **As a** [Integration designer]
1. **I want** [to add 'fileHref' property to download file action output datapill]
1. **so that** [I can download the file from applaud]

## Acceptance Criteria

1. [I can see 'fileHref' property in the output datapill of download file action]

## Wireframes and mockups

### [Title of wireframe/mockup 1]
[Image of wireframe/mockup 1]

### [Title of wi

[2022-01-27 13:22] ssarap commented on #26
@karthmoh We have requested Duncan to release the connector. This is expected to happen in short time.

[2022-01-27 13:36] karthmoh commented on #26
Thanks @ssarap

[2022-01-27 15:50] vinaykumarkasireddy commented on #42
![image](https://user-images.githubusercontent.com/20200783/151393716-a4f3f069-7ff9-443e-a71e-0d17902ab89b.png)
'fileHref' property has been added to the datapill.
@karthmoh Please verify.

[2022-01-28 08:59] duncancasemore commented on #26
@ssarap @karthmoh this is done

[2022-01-28 09:42] karthmoh commented on #42
Hi @vinaykumarkasireddy

As discussed, I could not see this datapill in TA-EU. Could you please check.

Thanks,
Karthik.

[2022-01-28 09:45] karthmoh commented on #26
Thanks @duncancasemore. I could see the update in TA but not in TA-EU.

Regards
Karthik

[2022-01-28 10:36] vinaykumarkasireddy commented on #42
@karthmoh It is working now on KCH tenant. Please verify now.
![image](https://user-images.githubusercontent.com/20200783/151532208-dbde443a-4db3-405b-acf8-5fe66f6c0665.png)

[2022-01-28 18:38] karthmoh commented on #42
Thanks @vinaykumarkasireddy I am able to get the property in TA-EU as well.

[2022-02-10 08:02] kushalapplaud commented on #41
@ssarap - This is needed for KCH project. They have requirement for attachments to be sent over to native systems as part of data. So to get the file href we need the relational data. Can this be prioritized?
![image](https://user-images.githubusercontent.com/45057962/153363402-c0fdb5a0-12d3-4db2-9039-7ac7d1df4606.png)

@karthmoh FYI

[2022-02-10 09:22] karthmoh commented on #41
@ssarap
For now, we have identified a workaround - to download the file ( using File download action) using the id of the attachment and then accessing the fileHref property. But this will add one more task every time a file is uploaded. So, we need this to be prioritized so that we can make these changes before KCH goes live.

Thanks
Karthik.

[2022-02-10 10:55] karthmoh commented on #41
Hi @duncancasemore

Yes, the current case model does not have a direct foreign property to the case attachment model, instead, that is added to the form as a relationship.  The case attachment model has a reference to the case model.

When a case is raised with an attachment, caseId is used to retrieve the attachments from the case attachments model where the fileHref or any other fileURL properti

[2022-02-10 12:06] duncancasemore commented on #41
@karthmoh interesting ok.  So actually you want to include the CaseAttachment model as a relationship, then in Workato loop through those case attachments and download the file contents?

You're right: those volumes are a lot higher than I thought.  Still, I guess this is only needed when CREATING cases via Applaud, which should be a (much?) smaller number...

[2022-02-15 07:03] vinaykumarkasireddy commented on #42
Closing this issue as the 'fileHref' property added to download file action.

[2022-02-15 07:03] #42 closed

[2022-03-28 10:26] kushalapplaud opened #43 "For lookup properties we need both id and value to come in data pill"
## Summary

1. **As a** integration expert
1. **I want** to create recipes where i require the value from the lookup table instead of just id
1. **so that** I don't need to maintain separate lookup in workato

## Acceptance Criteria

1. [If I do A, B should happen]
1. [If I do C, D should happen]

## Wireframes and mockups

### [Title of wireframe/mockup 1]
[Image of wireframe/mockup 1]

### [Titl

[2022-03-28 17:40] duncancasemore commented on #43
@ssarap we welcome your views on how this can be achieved and its complexity. From here we can prioritise accordingly.

[2022-03-29 07:26] kushalapplaud commented on #43
Data pill how it comes now:-
![image](https://user-images.githubusercontent.com/45057962/160556812-59f5d887-8209-48d7-baea-d086d0a5b2c3.png)

When maintaining data in lookup in workato how the data pill comes:-
![image](https://user-images.githubusercontent.com/45057962/160556914-e7d605b3-5adf-4ad0-8274-01db59621c10.png)

Either we need similar data pill for lookups like we can expand and both val

[2022-03-29 07:45] ssarap commented on #43
@duncancasemore This is a little similar to what we are trying to achieve in #41, we are currently blocked on this.
Will update you post discussion with the Workato team.

[2022-03-29 09:47] duncancasemore commented on #43
@ssarap ok thanks

[2022-04-04 12:22] vinaykumarkasireddy commented on #43
![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c1178/c42908ce-de1d-4b72-95c2-119d740dde2e)

![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c1178/3dfa97c0-465e-46a0-880a-067614343d4f)

![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c1178/15ee6b10-6efc-4623-8b5a-65e202b1be1d)

@kushalapplaud Is this you are expecting?

If user tries t

[2022-04-04 13:04] kushalapplaud commented on #43
@vinaykumarkasireddy - One doubt here we are selecting from list. We need the option to map it to the value that is retrieved from search action of the model. In search action for a lookup property both these values should show up in data pill.

[2022-04-04 13:10] vinaykumarkasireddy commented on #43
Yes @kushalapplaud. U can see the current step output here. Id, value both are selectable here.
![image.png](https://images.zenhubusercontent.com/57876b29e40e5714b16c1178/7bb013df-b503-490d-b271-2ef2013d0d2b)

[2022-04-06 06:56] kushalapplaud opened #44 "Unable to start recipes with Applaud triggers after migration"
**Describe the bug**
Unable to start recipes with Applaud triggers after migration

**Steps to reproduce**
1. Using new/updated instance and workflow action
1. In workflow I have created a trigger integration
1. When this got migrated the recipe was live
1. Now in UAT when I am trying to start the recipe this gives error
1. See error

**Expected behavior**
This should work fine

**Screenshots**
![

[2022-04-06 07:47] vinaykumarkasireddy commented on #44
This is not issue with SDK. Need to stop the recipes before doing the migration.
Stop all the recipes, create manifest, download the manifest, upload and install the manifest to the new tenant and then start the recipes.
If the issue still persists, please raise ticket with workato.

[2022-04-06 07:47] #44 closed

[2022-04-11 08:25] ssarap commented on #43
There is a limitation in Workato SDK to manipulate the meta data received from Cloud API. Discussed same with Chandra from Workato, they are reviewing it. Meanwhile working on a workaround to call cloud API which gets lookup properties of a model.

[2022-04-11 10:31] vinaykumarkasireddy commented on #43
Raised a cloud git to expose the model properties api. [ApplaudSolutions/applaud-cloud/issues/5055](https://github.com/ApplaudSolutions/applaud-cloud/issues/5055)

[2022-04-19 05:23] ssarap commented on #43
@vinaykumarkasireddy I made a few tweaks to the Connector SDK to pull lookup Id, Value(Label) for all the lookups.
Output data fields are now working as expected.
![image](https://user-images.githubusercontent.com/12637618/163925197-e2d6a025-f2c8-4ef9-a91a-1e0359a4fe8c.png)

@kushalapplaud If you would like to test it download the connector from here and use it.
https://app.workato.com/custom_adap

[2022-04-19 17:16] lewie6 opened #45 "Unable to perform file upload only on TA-EU through Workato"
@karthmoh commented on [Tue Mar 15 2022](https://github.com/ApplaudSolutions/applaud-cloud/issues/4964)

**Describe the bug**
Unable to perform file upload only on TA-EU through Workato

**Steps to reproduce**
1. Navigate to https://dev-experian-com.tryapplaud-eu.com/recipes
1. Go to 'Test profile picture' recipe
1. Select 'Jobs'
1. See error
2. Please note, this issue is happening only in TA-EU,

[2022-04-21 08:02] karthmoh commented on #45
@ssarap Could you please review and prioritize this issue.

Thanks
Karthik.

[2022-04-21 11:07] ssarap commented on #45
This is fixed. Will release it once Vinay is back. If you need the connector code please refer here.
https://app.workato.com/custom_adapters/33191/details?token=363f7bc0

[2022-04-21 12:16] karthmoh commented on #45
Thanks @ssarap

[2022-04-22 09:32] kushalapplaud opened #46 "Retry the calls twice after first call if response is 502 error"
## Summary

1. **As a** configurator
1. **I want** the recipe actions to retry twice after first call if there is any 502 error

## Acceptance Criteria

1. After the first call actions should repeat twice if 502 error is in response for GET, CREATE, UPDATE ,DELETE except for Bulk Upsert.

## Wireframes and mockups

### [Title of wireframe/mockup 1]
[Image of wireframe/mockup 1]

### [Title of wire

[2022-04-22 10:28] ssarap commented on #46
@kushalapplaud Please find the connector shared via  https://app.workato.com/custom_adapters/33191/details?token=363f7bc0
This is changes for retry on Search. Please test it and see if the issue is resolved.

[2022-04-22 10:35] kushalapplaud commented on #46
@ssarap Link is redirecting to stage tenant but not the sdk download option.

[2022-04-22 19:41] duncancasemore commented on #46
@ssarap are you sure we should be doing this? Aren't we just masking underlying issues that will occur if a customer tries to integrate without Workato?

[2022-04-23 03:36] hgajula-applaud commented on #46
This is an ER and has to be reviewed and approved by @ApplaudSolutions/product-management

[2022-04-23 07:38] kushalapplaud commented on #46
@hgajula-applaud @duncancasemore - We have been facing 502 in recipes and these are intermittent. Capita team has asked for a reason for this because they have flagged it as Sev-2 and they want to understand the risk involved in PROD because of this issue. Dev team is unable to provide any numbers as such because there is no guarantee this happens only for high concurrency.

@satchava @karthmoh me

[2022-04-25 05:35] ssarap commented on #46
@duncancasemore This wouldn't get into the SDK till Product management approves.
Services team has been struggling with 502 error and they were checking if we can do a retry within Applaud Connector as the same thing is being done in UI. Considering this as a SPIKE story, tried to review the feasibility and can confirm that this is feasible.

[2022-04-25 09:12] vinaykumarkasireddy commented on #45
Released the latest version of SDK which has the fix for this.
@duncancasemore Please release this to EU region also.

[2022-04-25 19:51] duncancasemore commented on #46
@ssarap great yes please see if feasible.

I've spoken to @lewie6 and am open to introducing this TEMPORARILY. I'd like us to plan to remove it later in the year though.

[2022-04-25 20:29] duncancasemore commented on #45
@vinaykumarkasireddy done

[2022-04-26 05:41] sujithkovuri commented on #45
Thanks @lewie6 @duncancasemore @ssarap @vinaykumarkasireddy
It is working fine now, I am able to upload the files

[2022-05-02 13:41] kushalapplaud commented on #46
@ssarap - Can you please work on the PATCH and POST request as well. So that we can get that deployed in TA and test it for all cases.

[2022-05-04 06:23] ssarap commented on #46
@vinaykumarkasireddy Could you pls pick this up.

[2022-05-04 08:52] vinaykumarkasireddy commented on #45
Made changes to SDK to use separate location for EU region tenants. File uploaded successfully on Global and EU regions as well.

-------------------------------------------
## Completion Checklist

1. [x] Should be able to successfully upload the file on EU region also.

[2022-05-04 08:52] #45 closed

[2022-05-09 07:36] kushalapplaud commented on #46
@vinaykumarkasireddy @ssarap Do we have an update on this? Client has marked this as Sev-2 which is a go live blocker and they are asking for update on this everyday. Any ETA?

[2022-05-09 07:39] ssarap commented on #46
@kushalapplaud We are on it.

[2022-05-10 03:41] vinaykumarkasireddy commented on #46
@kushalapplaud Added retry calls for create/update/upsert/delete and search actions. Please test the changes using the below connector.
https://app.workato.com/custom_adapters/25457/details?token=56e5f206
Will release the code as soon as the testing is done.

[2022-05-10 07:05] kushalapplaud commented on #46
@satchava can you please confirm once if we need this for upsert or will this cause issue for upsert.

[2022-05-10 10:38] satchava commented on #46
@vinaykumarkasireddy we should not be doing this for bulkupsert.

[2022-05-10 13:02] ssarap commented on #24
@vinaykumarkasireddy Currently we are able to select User model in all the actions. So what is this GIT about?

[2022-05-11 07:27] vinaykumarkasireddy commented on #46
@satchava @kushalapplaud Please let me know for which actions we need this.
Removing for bulkUpsert.

At present, doing this for below actions.
Create
Update
Upsert
Delete
Search
BulkCreate
BulkDelete.

[2022-05-11 07:28] kushalapplaud commented on #46
@vinaykumarkasireddy Apart from Upsert all are okay. @satchava Please confirm once.

[2022-05-11 07:33] vinaykumarkasireddy commented on #24
@ssarap Initially, 'User' model was restricted in all the actions. It is not restricted any more. We can close this.

[2022-05-11 12:19] satchava commented on #46
@vinaykumarkasireddy we should remove all bulk actions here

[2022-05-12 13:10] vinaykumarkasireddy commented on #46
Added retry calls for below actions.
Create, Update, Upsert, Delete and Search actions.
Released the latest version. This should be enabled for Non EU region.
@duncancasemore Please release for EU region.

[2022-05-12 13:11] vinaykumarkasireddy commented on #43
Added the fix for displaying id and value in search output action as datapill.
Released the latest version. This should be enabled for Non EU region.
@duncancasemore Please release for EU region.

[2022-05-13 07:58] #24 closed

[2022-05-13 11:10] kushalapplaud commented on #46
@duncancasemore Please let us know once this is released for EU region.

[2022-05-17 06:14] #46 closed

[2022-05-17 06:14] #43 closed

[2022-05-17 06:15] #38 closed

[2022-05-25 09:08] ssarap commented on #41
This is going to take more time, hence moving this to icebox for now. Will pick this only if really required by the customer.

[2022-05-27 09:26] ssarap commented on #31
This has been handled as part of Create instance action.
Now we can choose User model and fill the details to send create and invite.

[2022-05-27 09:26] #31 closed

[2022-06-07 07:07] kushalapplaud opened #47 "Data pill should expose Last Login Attempt from User-details meta data"
## Summary

1. **As a** configurator
1. **I want** to use the Last Login Attempt
1. **so that** I can set validations based on last login

## Acceptance Criteria

1. Last Login Attempt should be accessible in data pills for user search

## Wireframes and mockups

### [Title of wireframe/mockup 1]
[Image of wireframe/mockup 1]

### [Title of wireframe/mockup 2]
[Image of wireframe/mockup 2]

## Not

[2022-06-07 07:08] kushalapplaud commented on #47
@ssarap Please check and see if cloud enhancement is required for this or this can be handled in SDK itself.

[2022-06-08 19:30] duncancasemore commented on #47
@kushalapplaud this sounds like an interesting requirement. Can you provide more background about this?  What do you intend to do with last login attempt if it was available?

[2022-06-08 20:09] duncancasemore commented on #47
@kushalapplaud okay, so they basically want to know if a user has signed into Applaud or not?  There's also a user history model (it has things like account verified, password reset, etc) - could that be an option to get this?  I think it may have events that would reveal this although not sure if the APIs are available to API keys or not.

[2022-06-08 20:10] duncancasemore commented on #47
@kushalapplaud and speaking to Olivia I was under the impression they know when employees have started or not based on whether they attend their 'IT onboarding' session.  Can that no longer be used?

[2022-06-09 03:55] ssarap commented on #47
As Coinbase is not using Workato we can explore option of cloud API.

[2022-06-09 04:59] kushalapplaud commented on #47
Yes, they are exploring that option through Okta. Actually KCH also had a similar requirement which might come in phase 2 or after go live. There is no urgency for this git right now but these requirements will be coming in future where last login attempt will come in handy.

[2022-07-19 07:53] ybudamala opened #48 "Option to see 'Selected dates' array when 'Date Range' property is allowing individual dates selection"
## Summary

1. **As a** Integration Designer
1. **I want** to see an option to use the 'Selected dates' array whenever 'Date Range' property is configured with 'Allow individual dates to be selected'
1. **so that** I can use this option to get all the dates that the user selected as part of the transaction performed eg: raising a vacation

## Acceptance Criteria

1. Should be able to see this 'Sel

[2022-07-25 07:37] ssarap opened #49 "Load testing on Tasks with new sync API from WIPO"
## Summary

1. **As a** integration developer
1. **I want** test the load and performance of task data when concurrent requests are received
1. **so that** I can understand how much time it takes for tasks data to reflect in Applaud

## Acceptance Criteria

1. Load test needs to be done on Tasks data in UAT.
1. Need to use the same workflows as in PROD.
1. Make recipe changes to trigger it from we

[2022-07-28 09:04] vinaykumarkasireddy commented on #49
Raised [ApplaudSolutions/applaud-cloud/5357](https://github.com/ApplaudSolutions/applaud-cloud/issues/5357) to get access to the standard task model data.

[2022-08-22 10:34] vinaykumarkasireddy commented on #48
Input fields in create instance action, where 'Allow multiple dates to be selected' is set to true for 'Date range' and the same is set to false for 'Test date'.
<img width="630" alt="image" src="https://user-images.githubusercontent.com/20200783/185900482-c5f9b5b1-f49d-4755-8bbf-bdb27ad14230.png">

Output fields for the same.
<img width="404" alt="image" src="https://user-images.githubusercontent

[2022-08-22 11:14] ybudamala commented on #48
@vinaykumarkasireddy this looking perfect for the requirements. Please bring the changes to the Applaud connector and will start testing out.

[2022-09-13 08:44] ssarap opened #50 "Search action should display only indexed attributes"
## Summary

1. **As a** recipe designer
1. **I want** to see only the indexed properties of the model in search action
1. **so that** recipe doesn't throw errors after running

## Acceptance Criteria

1. Search action should only display the indexed properties
1. Use the model-properties API to determine which properties are indexed.
1. Primary, secondary and foreign keys should be indexed by defa

[2022-09-21 09:16] ssarap opened #51 "Task model should be available in actions and triggers"
## Summary

1. **As a** recipe desinger
1. **I want** to access seeded Task model
1. **so that** I can do CRUD operations and listen to triggers on Task model

## Acceptance Criteria

1. All the Workato actions should list Task in the list of models
1. After selecting Task model in an action all the properties of the should be shown to populate as input fields
1. Triggers should list Task model in

[2022-09-23 07:45] vinaykumarkasireddy commented on #48
@ybudamala This issue is fixed now. Please verify so that I can move the code and release the connector globally.
<img width="755" alt="image" src="https://user-images.githubusercontent.com/20200783/191913730-592fcfa5-1fb2-4c79-b64c-e321bc2cce93.png">

[2022-10-10 05:44] ssarap commented on #51
We need to deliver this in October/November by the time inElastic is deployed to Prod.
This might be useful for WIPO data sync.

[2022-10-12 02:04] ybudamala commented on #48
@vinaykumarkasireddy it's looking perfect now:
![image.png](https://images.zenhubusercontent.com/55acfd944f7a08fbb7f3cef9/5cc4f52e-83e8-4c01-b37d-9287c1bb06f6)
![image.png](https://images.zenhubusercontent.com/55acfd944f7a08fbb7f3cef9/860c27c8-636a-48d2-bf50-e6cb36fe6b88)
![image.png](https://images.zenhubusercontent.com/55acfd944f7a08fbb7f3cef9/1d726208-824a-4da0-b5a7-64a500bb9834)

[2022-10-17 07:16] vinaykumarkasireddy commented on #51
Task model available now in objects.
<img width="928" alt="image" src="https://user-images.githubusercontent.com/20200783/196111060-84bd70d2-ab45-4cfe-bfa2-7a39270d694f.png">
Properties of task model.
<img width="893" alt="image" src="https://user-images.githubusercontent.com/20200783/196111142-16b9c28e-f24d-40dc-8dbc-2f17d7d4aa87.png">

This is available in all actions as well as triggers.
@ybuda

[2022-10-20 09:11] vinaykumarkasireddy commented on #48
Made changes to Applaud connector and released the latest version.
@duncancasemore Please release the same to EU region also.

[2022-10-28 09:12] vinaykumarkasireddy commented on #51
Able to create the tasks using recipes, However the owner of the task is always the api-key.

Changing the owner id can be achieved only through workflows. Need more understanding on how to create the tasks for the corresponding owners.

[2022-10-31 08:19] vinaykumarkasireddy commented on #48
@duncancasemore Can you please confirm the latest connector is released in EU as well. So that this issue can be closed.

[2022-11-08 08:52] vinaykumarkasireddy commented on #50
Input fields: Displaying only indexed attributes along with 'Id' property.

<img width="687" alt="image" src="https://user-images.githubusercontent.com/20200783/200516297-0a2ee907-533d-46ef-b471-043933becea1.png">

Output fields: Displaying all the properties of the model including 'Id'.
<img width="917" alt="image" src="https://user-images.githubusercontent.com/20200783/200517152-7bd5ddad-2d45-49

[2022-11-08 11:52] vinaykumarkasireddy commented on #50
Displaying all the foreign keys as well as secondary keys in the input fields list.
This is present in 'Vinay_Connector'.
Moving to DA.

[2022-11-09 09:02] ssarap commented on #50
@ybudamala Can you please review this.

[2022-11-28 11:41] kushalapplaud opened #52 "Lookup breakdown of Id and values are coming null post inelastic"
**Describe the bug**
Lookup breakdown of Id and values are coming null post inelastic

**Steps to reproduce**
1. Navigate to https://dev-vmware-com.tryapplaud.com/recipes
1. Select Converting numbers into html recipe
1. Select jobs
1. See error

**Expected behavior**
The label of the lookup should come under values and id should come under id. Both are coming null

**Screenshots**
This clearly sho

[2022-11-28 11:53] ssarap commented on #52
@vinaykumarkasireddy I remember this has been tested during inelastic. Can you pls review this.

[2022-11-28 12:06] vinaykumarkasireddy commented on #52
@kushalapplaud This is working fine in stage. Verified just now.
<img width="832" alt="image" src="https://user-images.githubusercontent.com/20200783/204273539-cdc7ed78-37eb-40ca-89be-230c720e7588.png">

<img width="898" alt="image" src="https://user-images.githubusercontent.com/20200783/204273750-7a75f6f3-c74b-4423-84ae-3b74c0a12887.png">

Please check the configuration.

[2022-11-28 12:32] kushalapplaud commented on #52
@vinaykumarkasireddy Please check if multiple lookups are present in a single model then what happens. My use case is that.

[2022-11-28 16:24] vinaykumarkasireddy commented on #52
This is working fine in VMWare tenant also.
Created a model 'lookuptests' with three lookup properties with the same labels 1,2,3,4 and 5.
Able to fetch the id and value properties properly in recipes.
<img width="869" alt="image" src="https://user-images.githubusercontent.com/20200783/204328742-91e49a67-f72c-4922-9fbe-5a0a06f3359b.png">
<img width="815" alt="image" src="https://user-images.github

[2022-11-28 18:21] kushalapplaud commented on #52
@vinaykumarkasireddy Thanks for checking this. Not sure why it is not working for that particular model then. I will try to delete the values in lookup and recreate again to see if it works.

[2022-11-29 06:49] ssarap commented on #52
@kushalapplaud Can you check what is the API response.

[2022-11-29 06:59] kushalapplaud commented on #52
@ssarap in API response I'm getting the id and also the lookup breakdown where it gives id and label. But I'm not getting that in the data pill.

[2022-11-29 11:53] vinaykumarkasireddy commented on #52
Issue reproduced. Get response converting the spaces to ids when the property name includes spaces.
Need to update the connector to handle this case.